<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New person</title>
</head>
<body>


<form method="post" action="/people">
    <label for="name">Name</label>
    <input name="name" type="text" id="name"/>

    <br>

    <label for="surname">Surname</label>
    <input name="surname" type="text" id="surname"/>

    <br>

    <label for="email">Email</label>
    <input name="email" type="text" id="email"/>

    <br>

    <input type="submit" value="Add Person"/>
</form>


</body>
</html>