<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Say goodbye</title>
</head>
<body>

<div>
    <main>
        <h1>goodbye !!!!!!</h1>
        <p>
            <a lang="ru" href="/first/hello" target="_blank">Переходим на страницу Hello</a>
        </p>

        <p>
            <a lang="ru" href="/exit" target="_blank">Переходим на страницу Exit</a>
        </p>
    </main>
</div>

</body>
</html>