<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Say hello</title>
</head>
<body>

<div>
    <main>
        <h1>Hello !!!!!</h1>

        <div lang="ua" th:text="${text}">
        </div>

        <p>
<!--            <a  lang="ru" href="/first/goodbye" target="_blank">Go to Goodbye</a>-->
            <a  lang="ru" href="/first/goodbye">Go to Goodbye</a>
        </p>

        <p>
            <a lang="ru" href="/exit">Go to Exit</a>
        </p>
    </main>
</div>

</body>
</html>